body{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3 {
    margin:0.5rem 0;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 0.5rem;
}
a{
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 2;
}
.block{
    background-color: #e0e0e0;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
.row.center{
    align-items: center;
}
img.small{
    max-height: 8rem;
    max-width: 8rem;
}
button{
    background-color: rgb(255, 174, 0);
    border: 1px solid black;
    cursor: pointer;
    margin: 0.1rem;
    padding: 0.2rem;
    
    border-radius: 0.5rem;
}
button.add{
    background-color: rgb(93, 93, 226);
    width:1.5rem
}
button.remove{
    background-color: red;
    width: 1.5rem;
}
button.badge{
    background-color: red;
    border: none;
    color: white;
    width:1.5rem;
}
.texxt-right{
    text-align: right;
}
.img-1 img{
    width: 70px;
    height: 70px;
    
}
